<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>Nice admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/static/assets/images/background/login-register.jpg) no-repeat center center;">
            <div class="auth-box on-sidebar">
                <div>
                    <div class="logo">
                        <span class="db"><img src="/static/assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">Sign Up to Admin</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" method="post" action="/register">
                                <div class="form-group row ">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" name="name" type="text" required placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="email" required name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" type="text" required name="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" id="pass" oninput="checkPasswordStrength()" type="password" required name="password" placeholder="Password">
                                        <p id="passwordStrengthMessage"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input class="form-control form-control-lg" oninput="validatePassword()" id="pass_r" type="password" required placeholder="Confirm Password">
                                        <p id="passwordMatchMessage"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <div class="mb-3">
                                            <select
                                                class="form-select form-select-lg form-control form-control-lg"
                                                name="company"
                                                id="role_select"
                                                title="company"
                                                required
                                            >
                                                <option disbaled selected>Enter Your Company Name</option>
                                                <option value="New Dheli">New Delhi</option>
                                                <option value="Istanbul">Istanbul</option>
                                                <option value="Jakarta">Jakarta</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <div class="mb-3">
                                            <select
                                                class="form-select form-select-lg form-control form-control-lg"
                                                name="role"
                                                title="role"
                                                id="company_select"
                                                required
                                            >
                                                <option disbaled selected>Enter Your Company Position</option>
                                                <option value="New Dheli">CEO</option>
                                                <option value="Istanbul">Assistant Director</option>
                                                <option value="Jakarta">Secretary</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 ">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center ">
                                    <div class="col-xs-12 p-b-20 ">
                                        <button class="btn btn-block btn-lg btn-info " type="submit" id="submit">SIGN UP</button>
                                    </div>
                                </div>
                                <div class="form-group m-b-0 m-t-10 ">
                                    <div class="col-sm-12 text-center ">
                                        Already have an account? <a href="authentication-login1.html " class="text-info m-l-5 "><b>Sign In</b></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip "]').tooltip();
    $(".preloader ").fadeOut();
    </script>
   <script>
    function validatePassword() {
      var password = document.getElementById("pass").value;
      var confirmPassword = document.getElementById("pass_r").value;
      var message = document.getElementById("passwordMatchMessage");
      var button = document.getElementById("submit")
      var numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"];
      var symbols = ["£", "$", "%", "^", "&", "*", "(", ")", "-", "_", "=", "+", "!", "'", "@", "#", "~", "`", "¬", "<", ">", ".", ",", "/", "?", "|", "{", "}", "]", "["]

      if (password === confirmPassword) {
        message.innerHTML = "Passwords match!";
        message.style.color = "green";
        button.disabled = false
      } else {
        message.innerHTML = "Passwords do not match.";
        message.style.color = "red";
        button.disabled = true;
      }
      
    }
  </script>
  <script>
    function checkPasswordStrength() {
      var password = document.getElementById("pass").value;
      var button = document.getElementById("submit")
      var strengthMessage = document.getElementById("passwordStrengthMessage");

      // Define regex patterns for different password strengths
      var strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      var mediumRegex = /^(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d]{8,}$/;

      if (strongRegex.test(password)) {
        strengthMessage.innerHTML = "Strong password!";
        strengthMessage.style.color = "green";
        button.disabled = false
      } else if (mediumRegex.test(password)) {
        strengthMessage.innerHTML = "Medium password.";
        strengthMessage.style.color = "orange";
        button.disabled = false
      } else {
        strengthMessage.innerHTML = "Weak password. Please include at least 8 characters, a combination of uppercase and lowercase letters, and at least one number and special character.";
        strengthMessage.style.color = "red";
        button.disabled = true
      }
    }
  </script>
</body>

</html>